
<body>
<script src="/static/assets/js/theme.js"></script>
<!--页面标题和描述-->
<div class="container-fluid am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
            <div class="page-header-heading">
                        <span class="am-icon-home page-header-heading-ico">
                        </span>
                <span id="jijuxie_title">{$menu.0.children.0.name}</span>
                <small>JIJUXIE CMS</small>
            </div>
            <p class="page-header-description" id="jijuxie_des">
                {$menu.0.children.0.des}
            </p>
        </div>
        <div class="am-u-lg-3">

        </div>
    </div>
</div>
<!--主页面-->
<div class="row-content am-cf">
    <div class="row am-cf">
        <div class="am-u-am-12">
            <div class="widget am-cf">